{% extends 'base.html.twig' %}

{% block title %}Acceuil!{% endblock %}

{% block body %}
<div class="container">
    <div class="card shadow-1 fx-row">
        <div class="primary d-flex vcenter fx-center px-4">
            <img src="image_filter('square')" alt="{{ annonce.title }}">
        </div>
        <div class="col-sm2">
            <div class="card-header">{{annonce.title}}</div>
            <div class="card-content">
                <p>Catégorie : {{ annonce.categories.name}} </p>
                <p>
                    {{ annonce.content|striptags|u.truncate(120, true, '...') }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 